body {
  margin: 0;
  padding: 20px;
}

.board {
  width: 800px;
  display: block;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  border: 4px solid #00917e;
}

.board__block {
  position: relative;
  float: left;
  display: block;
  width: 50px;
  height: 50px;
  line-height: 50px;
  margin: 0;
  padding: 0;
  text-align: center;
}

.board__block_light {
  background-color: #00917e;
  color: black;
}

.board__block_dark {
  background-color: #00ab88;
  color: white;
}